@import "tailwindcss";

body {
  background: #020617;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input,
textarea,
select {
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}